#!/usr/bin/env python
PACKAGE = "dnn_voice_command_recognition"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("rate",          double_t, 0, "Main thread rate", 10, 1, 100)
gen.add("FRAMES_PER_BUFFER", int_t, 0, "Samples per buffer", 4000, 100, 20000)
gen.add("command_list",  str_t,    0, "Comma-separated command list", "background_noise,down,go,left,no,off,on,right,stop,unknown,up,yes")

exit(gen.generate(PACKAGE, "dnn_voice_command_recognition", "Node"))
